includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths: [src]
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false

    excludes_analyse:
        - src/Bridges/CacheExtension.php
        - src/TagAwareCache.php

    ignoreErrors:
        - '#Anonymous function should have native return typehint "\?int".#'
        - '#Foreach overwrites \$value with its value variable.#'
        - '#Call to an undefined method ReflectionProperty::getType\(\).#'
        - '#^Cannot call method add\\(\\) on DateTime\\|false.$#'
        - '#Only booleans are allowed in an if condition, int given.#'
        - '#Anonymous function should have native return typehint "Biurad\\Cache\\CacheItem".#'
        - '#Anonymous function should have native return typehint "array".#'
        - '#Parameter \#1 $argument of class ReflectionClass constructor expects class-string<T of object>|T of object, string given.#'
